body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Header */
.header {
    background-color: #879a96;
    color: rgb(58, 215, 149);
    padding: 30px;
}

/* Activities */
.activities {
    background-color: #ebc862;
    padding: 20px;
}
/* Guide */
.guide {
    background-color: #ec7825;
    padding: 20px;
}