body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    height: v-100;
}

/* Header */
.header {
    background-image: url("images/Harare.jpg");
    color: white;
    padding: 30px;
}

/* Activities */
.activities {
     background: linear-gradient(skyblue, yellow);
      
    
    padding: 20px;

}

.activity {
   
    display: inline-block;
    width: 200px;
    margin: 20px;
    vertical-align: top;
}

.activity img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s;
}
.activity img:hover {
    transform: scale(1.1);
}

/* Guide */
.guide {
    background-color: rgb(228, 243, 67);
    padding: 20px;
}

.guide img {
    width: 120px;
    border-radius: 10px;
}