body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Header */
.header {
    background-image: url("Harare.jpg");
    color: rgb(231, 205, 15);
    padding: 30px;
}

/* Activities */
.activities {
    background-color: #ebc862;
    padding: 20px;
}
/* Guide */
.guide {
    background-color: #ec7825;
    padding: 20px;
}

.guide img {
    width: 120px;
    border-radius: 10px;
}